/* Genearl */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* components */

.main-heading {
    text-align: center;
    font-size: 40px;
    color: #506a85;
    position: relative;
    margin-bottom: 100px;
    text-transform: capitalize;
}

.main-heading::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100px;
    background-color: #01A89E;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

/* navbar */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: #506a85;
    height: 75px;
    z-index: 9;
    line-height: 75px;
}

.nav {
    border-bottom: 2px solid #506a85;
}

.nav .logo {
    font-weight: 700;
    font-size: 40px;
    width: 200px;
}

.nav ul {
    float: right;
    list-style: none;
}


.nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
    text-transform: capitalize;
}

.nav ul li a {
    text-decoration: none;
    color: #506a85;
    font-size: 20px;
}

.nav ul li a:hover,
.nav ul li .active {
    color: #01A89E;
    border-bottom: 3px solid #01A89E;
    ;
}


/* header */

.header {
    height: 100vh;
    position: relative;
    /* background-image: url('https://www.jobstreet.com.ph/career-resources/wp-content/uploads/sites/3/2022/04/Laptop-Specs-For-Work-From-Home.jpg'); */
    background-image: url('https://www.hiresafe.com/wp-content/uploads/2015/02/free-office-wallpaper-26001-26685-hd-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 106, 133, 0.5);
}

.header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

.header .text p {
    margin: 20px 0;
}

.header .text h1 {
    font-size: 50px;
}

.header .text .btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.header .text .btn1 {
    margin-right: 10px;
    color: #01A89E;
}

.header .text .btn2 {
    color: white;
    background-color: #01A89E;
}

.header .text .btn:hover {
    opacity: 0.75;
}

/* Features */

.features {
    padding: 100px 0;
}

.features h2 {
    text-align: center;
    font-size: 40px;
    color: #506a85;
}

.features .feat {
    padding: 50px 25px;
    float: left;
    text-align: center;
    width: 28%;
    border: 2px solid #506a85;
    border-radius: 10px;
    transition: 0.5s;
}

.features .feat:hover {
    border: 2px solid #01A89E;
}

.features .two {
    margin: 0 8%;
}

.features .feat img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #01A89E;
    padding: 5px;
}

.features .feat h3 {
    font-size: 25px;
    margin: 25px 0;
    color: #506a85;
}

.features .feat p {
    color: #777;
    font-size: 18px;
    margin: 25px 0;
    line-height: 1.5;
}

.features .feat a {
    display: block;
    margin: 25px auto 0;
    text-decoration: none;
    color: #01A89E;
    border-radius: 25px;
    border: 3px solid #01A89E;
    width: 150px;
    padding: 10px 20px;
    transition: 0.5s;
}

.features .feat a:hover {
    color: white;
    background-color: #01A89E;
}

/* portfolio */

.portfolio {
    padding: 100px 0;
    background-color: #eee;
}

.portfolio .works {
    overflow: auto;
}

.portfolio .works .work {
    float: left;
    width: 30%;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}


.portfolio .works .middle {
    margin: 0 5%;
}

.portfolio .works .work .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(80, 106, 133, 0.5);
    font-weight: 700;
    color: white;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
}

.portfolio .works .work:hover .overlay {
    opacity: 1;
}

.portfolio .works .work .overlay h3 {
    font-size: 30px;
}

.portfolio .works .work .overlay p {
    font-size: 20px;
    margin: 25px 0;
}

.portfolio .works .work .overlay a {
    font-size: 30px;
    color: white;
}

.portfolio .works .work .overlay a:hover {
    color: #01A89E;
}

.portfolio .works .work img {
    max-width: 100%;
    border: 5px solid#01A89E;
    border-radius: 10px;
    display: block;
}

/* offer */

.offer {
    padding: 100px 0 50px;
}

.offer .container {
    overflow: auto;
}

.offer .container .box {
    width: 30%;
    float: left;
    margin-bottom: 50px;
    overflow: auto;
    padding: 50px 25px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 10px;
}

.offer .container .box::after {
    content: '';
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transition: 0.5s;
    position: absolute;
    background-color: #eee;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 10px;
}

.offer .container .box:hover::after {
    width: 100%;
    height: 100%;
}

.offer .container .middle {
    margin: 0 5%;
}

.offer .container .box .icon {
    font-size: 35px;
    width: 20%;
    float: left;
    padding-top: 5px;
    color: #01A89E;
}

.offer .container .box .text {
    width: 80%;
    float: left;
}

.offer .container .box .text h3 {
    margin-bottom: 10px;
    color: #506a85;
    font-size: 20px;
    font-weight: 700;
}

.offer .container .box .text p {
    color: #777
}

/* choose */

.choose {
    padding: 100px 0;
    background-color: #eee;
}

.choose .container {
    overflow: auto;
}

.choose .container .text,
.choose .container .img {
    width: 50%;
    float: left;
    color: #777;
}

.choose .img img {
    display: block;
    width: 50%;
    margin: auto;
    max-width: 100%;
    border: 5px solid #01A89E;
    border-radius: 10px;
}

.choose .container .text h2 {
    margin-bottom: 50px;
}

.choose .container .text ul {
    margin-top: 50px;
}

.choose .container .text i {
    color: #01A89E;
    margin: 10px;
}

.choose .container .text p {
    font-size: 20px;
}

.choose .container .text li {
    font-size: 18px;
}

.choose .container .img .bullets {
    width: 50%;
    margin: 25px auto 0;
    text-align: center;
}

.choose .container .img .bullets span {
    width: 15px;
    height: 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ccc;
}

.choose .container .img .bullets span.active,
.choose .container .img .bullets span:hover {
    background-color: #01A89E;
}

/* stats */

.stats {
    position: relative;
    background-image: url(imgs/stats.jpg);
    color: white;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.stats::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 106, 133, 0.75);
}

.stats .container {
    overflow: auto;
    position: relative;
    z-index: 1;
}

.stats .container .stat {
    float: left;
    width: 25%;
    text-align: center;
    padding: 25px;
}

.stats .container .stat .icon {
    margin: auto;
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.stats .container .stat i {
    display: block;
    font-size: 30px;
    color: #01A89E;
    line-height: 60px;
    text-align: center;
}


.stats .container .stat .number {
    font-size: 50px;
    margin: 25px 0;
    display: block;
}

/* plans */

.plans {
    padding: 100px 0;
    background-color: #eee;
}

.plans .container {
    overflow: auto;
}

.plans .plan {
    float: left;
    padding: 50px;
    width: 30%;
    text-align: center;
    border: 2px solid #506a85;
    border-radius: 15px;
    transition: 0.5s;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.plans .plan::after,
.plans .plan::before {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #ddd;
    z-index: -1;
    transition: 0.5s;
}

.plans .plan::before {
    top: 0;
    left: 0;
}

.plans .plan::after {
    bottom: 0;
    right: 0;
}

.plans .plan:hover::after,
.plans .plan:hover::before {
    width: 100%;
}

.plans .plan:hover {
    border-color: #01A89E;
}

.plans .middle {
    margin: 0 5%;
}

.plans .plan h4 {
    font-size: 25px;
    color: #555;
}

.plans .plan .price {
    width: 150px;
    height: 150px;
    margin: 25px auto;
    line-height: 150px;
    font-size: 40px;
    border: 2px solid #506a85;
    border-radius: 50%;
    transition: 0.5s;
}

.plans .plan .price:hover {
    border-color: #01A89E;
}

.plans .plan .price h3 {
    width: fit-content;
    margin: auto;
    position: relative;
}

.plans .plan .price h3::before {
    content: '$';
    position: absolute;
    font-size: 25px;
    top: -25px;
    left: -15px;
}

.plans .plan .price h3::after {
    content: '/mo';
    position: absolute;
    font-size: 25px;
    bottom: -25px;
    right: -45px;
}

.plans .plan ul {
    list-style: none;
    margin: 50px 0;
}

.plans .plan li {
    margin: 15px 0;
    color: #777;
}

.plans .plan a {
    text-decoration: none;
    color: #01A89E;
    border: 2px solid #01A89E;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.5s;
}

.plans .plan a:hover {
    color: white;
    background-color: #01A89E;
}


/* tech */

.techs {
    position: relative;
    background-image: url(imgs/web.webp);
    color: white;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.techs::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 106, 133, 0.75);
}

.techs .container {
    overflow: auto;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    background-color: rgba(80, 106, 133, 0.85);
}

.techs .tech {
    float: left;
    width: 50%;
    padding: 50px;
}

.techs .tech img {
    width: 100px;
}

.techs .tech .float {
    overflow: auto;
    margin-bottom: 25px;
}

.techs .tech .float div {
    float: left;
}

.techs .tech .float .text {
    padding: 25px;
}

.techs .tech .float .text h3 {
    font-size: 22px;
}

.techs .tech .float .text h4 {
    font-size: 20px;
    margin-top: 10px;
    color: #01A89E;
}

.techs .tech p {
    font-size: 18px;
    text-align: center;
    line-height: 2;
}


/* team */

.team {
    padding: 100px 0;
}

.team .container {
    overflow: auto;
}

.team .middle {
    margin: 0 5%;
}

.team .member {
    width: 30%;
    float: left;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 10px;
    background-color: #eee;
    border: 2px solid #506a85;
    transition: 0.5s;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.team .member::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ddd;
    transition: 0.5s;
    z-index: -1;
}

.team .member:hover {
    border-color: #01A89E;
}

.team .member:hover h3 {
    color: #01A89E;
}

.team .member:hover::after {
    height: 100%;
}

.team .member img {
    display: block;
    margin: 25px auto;
    width: 100%;
}

.team .member .img {
    position: relative;
    width: 80%;
    margin: auto;
}

.team .member .img .overlay {
    position: absolute;
    padding: 50px 25px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(119, 119, 119, 0.5);
    transition: 0.5s;
    opacity: 0;
    border-radius: 10px;
}

.team .member:hover .overlay {
    opacity: 1;
}

.team .member .img .overlay i {
    font-size: 25px;
    display: block;
    margin-bottom: 25px;
    text-align: right;
    cursor: pointer;
    color: #506a85;
    transition: 0.5s;
}

.team .member .img .overlay i:hover {
    color: #01A89E;
}

.team .member h3 {
    color: #506a85;
    margin-bottom: 10px;
    transition: 0.5s;
}

.team .member h4 {
    color: #777;
}

/* news */

.news {
    padding: 100px 0;
    background-color: #eee;
}

.news .container {
    overflow: auto;
}

.news .middle {
    margin: 0 5%;
}

.news .new {
    width: 30%;
    float: left;
    padding: 25px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #506a85;
    transition: 0.5s;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.news .new::before,
.news .new::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background-color: #ddd;
    transition: 0.5s;
}

.news .new::before {
    left: 0;
}

.news .new::after {
    right: 0;
}

.news .new:hover::before,
.news .new:hover::after {
    width: 50%;
}

.news .new:hover {
    border-color: #01A89E;
}

.news .new img {
    max-width: 100%;
    border-radius: 10px;
}

.news .new .data {
    margin: 25px 0;
}

.news .new .data i {
    margin-right: 5px;
    color: #506a85;
}

.news .new h3 {
    font-size: 24px;
    color: #506a85;

}

.news .new p {
    margin: 25px 0;
    color: #777;
}

.news .new a {
    text-decoration: none;
    color: #01A89E;
}

/* footer */

.footer {
    padding: 50px 0;
    text-align: center;
    background-color: #333;
}

.footer .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #506a85;
}

.footer .icon i {
    color: white;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.footer .icon i:hover {
    color: #01A89E;
}

.footer p {
    margin: 25px 0;
    color: #ccc;
}

.footer p span {
    color: #01A89E;
    font-weight: 900;
}